
/* universal section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}


#root {
  width: 100%;
}

/* header section */

.header {
  background-color: gray;
  text-align: center;
  
}

.header h1 {
  padding: 25px 0;
  font-size: 3rem;
  
}

.headerCol {
  display: flex;
  justify-content: center;
}

.date-time {
  font-size: 1.25rem;
}

@media only screen and (maxWidth:580px){
  .headerCol {
    display: block;
  }
}

/* Category Section */

.categoryContainer {
  text-align: center;
  padding: 35px;
}

.categoryLabel {
  font-size: 1.5rem;
  padding: 0 15px;
}

.categoryDrop {
  font-size: 1.25rem;
}

/* Category Input section */


.validate {
  color: red;
  font-size: 1.15rem;
}

.submitButton {
  border-radius: 15px;
  width: 75px;
  margin-top: 5px;

}
.submitButton:hover {
  cursor: pointer;
  background-color: blue;
  color: white;

}

/* Table Section*/

.tableContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tableContainerH1 {
  width:100%;
  text-align: center;
}
.table{
  width: 250px;
  margin: 25px;
}

.table th{
  
  text-align: center;
  font-size: 1.35rem;
}

.table td {
  text-align: center;
}


