

.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

h1 {
    padding-left: 20px;
    
}
.ul-header {
    display: flex;
    padding-top: 10px;
    
}

.ul-header li {
    padding: 0 10px;
    list-style-type: none;
}